.contenedorInput {
  margin: 13em 0 0 75.5em;
}

.contenedorInput input {
  width: 11em;
  padding: 0 0 0 1em;
  height: 2em;
  border-radius: 1em 1em;
  font-size: 0.8em;
  color: yellow;
  font-weight: 100;
  margin: 0 0 0 9em;
  border-color: rgb(223, 191, 126);
  background-color: black;
}

.contenedorInput ::placeholder {
  color: yellow;
  text-align: center;
  font-size: 0.8em;
}

.contenedorInput p {
  color: white;
  margin: 1em 0 0 9.5em;
}
.error {
  font-size: smaller;
  color: yellow;
  margin: 0 0 0 25em;
}

.boton {
  width: 9em;
  height: 10em;
  z-index: 1000;
  background-color: transparent;
  margin: -1em 0 0 10em;
  border: none;
  position: relative; /* para que funcione :before y :after */
  transition: background-image 0.3s ease-in-out;
}

.boton:before {
  /* Estilo para el estado normal */
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-image: url("../../Images/botones/zuma1.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
}

.boton[data-loading="true"]:before {
  /* Estilo para el estado "Loading" */
  background-image: url("../../Images/gifs animados/loading-zuma.gif");
  background-size: cover;

  opacity: 1;
}

.boton:hover::before {
  width: 9em;
  height: 10em;
  z-index: 1000;
  background-image: url("../../Images/gifs animados/zumasFrog.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;

  border: none;
  cursor: pointer;
}

.wellcome {
  margin-left: 7.5em;
}
