.Contenedor {
    display: flex;
    flex-wrap: wrap;
    
    margin-top: -3em;
    width: 100%;
    height: 100%;
    
    padding: 0 0 20px 0;
    background: 
    linear-gradient(163deg, #180363 2px, #180363 28px, transparent 28px ),
    linear-gradient(161deg, #180363 2px, #180363 4px, #180363 30px, transparent 30px),
    linear-gradient(343deg, #180363 2px, #180363 28px, transparent 28px),  
    linear-gradient(343deg, #180363 2px, #180363 28px, transparent 28px); 
background-color: black; 
background-position: 4px 2px, 46px 32px, 96px 30px, 42px 60px; 
background-size: 96px 60px; /* Aumenta el tamaño a 96px x 60px */

}

.Detail,
.Detail2
{
    flex: 1;
    flex-direction: column;
    
    background-color: transparent;
    /* efecto blur */
    backdrop-filter: blur(10px);

    padding: 0 0 20px 0;
    color: white;
    align-items: center;
}

.Detail {
    margin-top: 9em;
    margin-left: 1em;
    text-align: justify;
    max-height: 32em;
    overflow: auto;
    padding-right: 1.5em;
    padding-left: 1em;
}
.Detail::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Personaliza el color de la barra de desplazamiento */
  .Detail::-webkit-scrollbar-thumb {
    background-color: rgb(83, 122, 5);
  }
  
  /* Personaliza el color del fondo de la barra de desplazamiento */
  .Detail::-webkit-scrollbar-track {
    background-color:rgb(27, 24, 24);
  }

.Detail2 {
    margin-top: 9em;
    margin-left: 2em;
    padding-top: 1em;
    border-style: dotted;
    border-color: yellowgreen;
    align-items: center;
    margin-right: 1em;
    width: 22%;
    max-height: 31em;
}

.platforms {
    width: 100%;
    align-items: center;
}

.image {
    flex: 3;
    height: 32em ;
    max-width: 50%;
    margin-top: 9.5em;
    margin-left: 3em;
  
}


.Contenedor h1 {
    font-size: 40px;
    font-weight: 700;
    color: yellowgreen;
    text-align: center;
    margin-bottom: -1em;
    margin-top: 0;
    padding: 0 0 20px 0;
    
}

.Contenedor h2 {
    font-size: 20px;
    font-weight: 700;
    color: white;
    text-align: center;
    
    padding: 0 0 20px 0;
    
}

.Contenedor p {
    font-size: 1em;
    font-weight: 400;
    color: white;
    text-align: center;
    padding: 0 0 0.3em 0;
    font-style: italic;
    margin-top: -0.5em;
}

.Contenedor h3 {
    font-size: 20px;
    font-weight: 700;
    color: white;
    text-align: left;
    margin-top: -0.3em;
    margin-bottom: -0.3em;
    padding: 0 0 0.5em 1em;
}

.Contenedor h4 {
    color: yellowgreen;
    text-align: center;
    margin-top: 0;
}

.Loading {
    color: white;
}

.Contenedor li {
    padding: 1em;
}

.LogoPlatform {
    width: 1.5em;
    height: 1.5em;
    margin-right: 1em;
    margin-left: 1.3em;
    margin-top: 0.5em;
    align-items: center;
}
