.routeContainer {
    display: flex;
    flex-wrap: wrap;
    
    width: 100%;
    height: 100%;
    
    padding: 0 0 20px 0;


}

.Detail,
.Detail2
{
    flex: 1;
    flex-direction: column;
    
    background-color: transparent;
    /* efecto blur */
    backdrop-filter: blur(10px);
    justify-content: center;

    color: white;
}

.Detail {
    margin-top: 1em;
    margin-left: 1em;
    text-align: justify;
    max-height: 32em;
    overflow: auto;
    padding-right: 1.5em;
    padding-left: 1em;
    /* si supera la altura maxima que habilite scrollbar */
    overflow: auto;
    
    
}
.Detail::-webkit-scrollbar {
    width: 10px;
}
  
/* Personaliza el color de la barra de desplazamiento */
.Detail::-webkit-scrollbar-thumb {
    background-color: rgb(83, 122, 5);
}

/* Personaliza el color del fondo de la barra de desplazamiento */
.Detail::-webkit-scrollbar-track {
    background-color:rgb(27, 24, 24);
}

.Detail2 {
    align-items: center;
    margin-top: 1em;
    margin-left: 2em;
    padding-top: 1em;
    border-style: dotted;
    border-color: yellowgreen;
    margin-right: 1em;
    width: 22%;
    max-height: 31em;
}

.platforms {
    width: 100%;
    align-items: center;
}

.image {
    flex: 3;
    height: 32em ;
    max-width: 50%;
    margin-top: 1em;
    margin-left: 2em;
  
}


.routeContainer h1 {
    font-size: 40px;
    font-weight: 700;
    color: red;
    text-align: center;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0 0 20px 0;
    
}

.routeContainer h2 {
    font-size: 20px;
    font-weight: 700;
    color: white;
    text-align: center;
    
    padding: 0 0 20px 0;
    
}

.pDetail2 {
    font-size: 1em;
    font-weight: 400;
    color: rgb(195, 166, 18);
    padding: 0 0 0.3em 1em;
    font-style: italic;
    margin-top: -0.5em;
}

.Detail p {
    font-size: 1em;
    font-weight: 400;
    color: white;
    text-align: center;
    padding: 0 0 0.3em 0;
    font-style: italic;
    margin-top: -0.5em;
}

.routeContainer h3 {
    font-size: 20px;
    font-weight: 700;
    color: rgb(12, 212, 243);
    text-align: left;
    margin-top: -0.3em;
    margin-bottom: -0.3em;
    padding: 0 0 0.5em 1em;
}

.routeContainer h4 {
    color: rgb(166, 14, 14);
    text-align: center;
    margin-top: 0;
}

.Loading {
    color: white;
}

.routeContainer li {
    padding: 1em;
}

.LogoPlatform {
    width: 1.5em;
    height: 1.5em;
    margin-right: 1em;
    margin-left: 1.3em;
    margin-top: 0.5em;
    align-items: center;
}
