.contenedor {
    position: fixed;
    z-index: 100;
    margin: 5.5em 0 0 0;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    display: flex;
    height: 4em;
    padding: 0.4em 0 0.6em 5em;
    background-color: black;
}


.divStyles {
    position: static;
    display: inline-block;
    box-shadow: 0 5px 5px 0 rgb(107, 16, 117);
    z-index: 102;
    opacity: 0;
    transition: opacity 2s;
    margin-left: 5em;

     /*alineado horizontal de los hijos*/ /*centrado vertical*/
    
}

.divStyles.visible {
    opacity: 1;
    
} 

.mensaje,
.mensaje1,
.mensajeW,
.mensajeL,
.mensajeI,
.mensajeG,
.mensajeF {
    font-size: 1em;
    font-weight: 600;
    color: rgb(203, 239, 233);
    
    padding: 0.3em;
    position: absolute;
   
    align-items: center;
    z-index: 2000;
}

.mensaje {
    margin-top: -6em;
    margin-left: 0.1em; 
}

.mensaje1 {
    margin-top: -6em;
    margin-left: 0;
}

.mensajeW {
    margin-top: -5em;
    margin-left: -2em; 
}

.mensajeL {
    margin-top: -5em;
    margin-left: -1em; 
}

.mensajeG {
    margin-top: -5em;
    margin-left: -1em; 
}

.mensajeI {
    margin-top: -5em;
    margin-left: -1.5em; 
}

.mensajeF {
    margin-top: -5em;
    margin-left: -1.5em; 
}

.boton {
    width: 7em;
    height: 3em;
    font-size: 0.9rem;   
    font-weight: 600;
    box-shadow: 0 5px 5px 0 rgb(107, 16, 117);
    margin: 0 5px 0 0;
    }

    .boton:hover {
    background-image: linear-gradient(315deg, #c966aa 0%, #0dd366 74%);
    }


    ul {
        list-style: none;
        padding: 0;
        margin: 0 2.5em 0 0;
        display: flex;
    }



    li {
        margin: 0 1em 0 0;
    }

.redes,
.whapp,
.linkedin,
.github,
.instagram,
.face,
.home,
.contact {
 display: flex;
  border-radius: 50%;
  align-items: center; /* Alineación vertical para el contenido dentro de los botones */
  justify-content: center; /* Alineación horizontal para el contenido dentro de los botones */
  cursor: pointer;
  font-size: 15px;
  box-shadow: 0 0 10px rgba(146, 77, 146, 0.2);
}

.whapp:hover {
    filter: brightness(0.5);
    transform: scale(1.2);
}

.linkedin:hover {
    filter: brightness(0.5);
    transform: scale(1.2);
}

.github:hover {
    filter: brightness(0.5);
    transform: scale(1.2);
}

.instagram:hover {
    filter: brightness(0.5);
    transform: scale(1.2);
}

.face:hover {
    filter: brightness(0.5);
    transform: scale(1.2);
}

.face {
    background-image: url("../../Images/icons/face.png");
    background-size: cover;
    background-color: white;
    width: 2em;
    height: 2em;
}

.home {
    background-image: url("../../Images/botones/home.png");
    background-size: cover;
    background-color: white;
    width: 4em;
    height: 4em;
    
}

.home:hover {
    background-image: url("../../Images/botones/home2.png");
    background-size: cover;
    background-color: white;
    transform: scale(1.1);
}
.contact {
    background-image: url("../../Images/botones/email.png");
    background-size: cover;
    background-color: white;
    width: 4em;
    height: 4em;
}

.contact:hover {
    background-image: url("../../Images/botones/email2.png");
    background-size: cover;
    background-color: white;
    transform: scale(1.1);
}

.whapp {
    background-image: url("../../Images/icons/whapp.png");
    background-size: cover;
    background-color: green;
    width: 2em;
    height: 2em;
}

.github {
    width: 2em;
    height: 2em;
    background-image: url("../../Images/icons/github.png");
    background-size: cover;
    background-color: white;
}

.instagram {
    width: 2em;
    height: 2em;
    background-image: url("../../Images/icons/insta.png");
    background-size: cover;
    background-color: white;
}

.linkedin {
    width: 2em;
    height: 2em;
    background-image: url("../../Images/icons/linkedin.png");
    background-size: cover;
    background-color: white;
}

    .searchBar {
    margin: 0 2.5em 0 5.5em;
}