.upper{
   
    background-image: url("../../Images/fondo_top.svg");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 4000;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.message {
    height: 2em;
    margin-top: -1em;
}

.upper p {
    color: rgb(202, 160, 108);
    font-size: 1.1em;
    font-weight: 600;
}

.username {
    color: rgb(255, 225, 0);
}