.upper{
   
    background-color: rgb(230, 26, 26);
    z-index: 4000;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.message {
    height: 2em;
    margin-top: -1em;
}

.upper p {
    color: rgb(0, 0, 0);
    font-size: 1.1em;
    font-weight: 600;
}

.username {
    color: rgb(31, 51, 203);
}