.SearchBar {
    align-items: baseline;
    display: inline-block;
    margin-left: 0;
    margin-right: 0;
}

.SearchBar input {
    text-decoration: none;
    background-color: rgb(179, 179, 179);
    color: black;
    font-size: 1.2rem;
    font-weight: 50;
    cursor: text;
    z-index: 200;
    width: 10em;
    height: 1.8em;
    padding: 0 0 0 20px; /* es espacio dentro de la caja*/
    background-image: url("../../Images/botones/madera_input.png");
}

.buttonS {
    text-decoration: none;
    color: black;
    font-size: 1.2em;
    cursor: pointer;
    z-index: 200;
    height: 2em;
    background-color: rgb(161, 16, 16);
    margin: 0.4em 0 0 -15.5px;
    border-radius: 0 80px 20px 0; 
    background-image: url("../../Images/botones/madera_busqueda.png");
    background-repeat: no-repeat;
box-shadow: grey 0px 0px 10px 0px;
}
.buttonS:hover {
    background-image: url("../../Images/botones/madera_busqueda2.png");
}
   


ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-block;
    align-items: center;
}
li {
    display: flex;
    justify-content: space-around;
    display: inline-block;
}
