/* CSS para el menú vertical en la página Home */
.Filtro {
  position: fixed;
  top: -0.5em;
  right: 0;
  width: 9em;
  max-height: 90vh;
  overflow-y: auto;
  padding-right: 1em;
  color: white;
}
.divStyles {
  opacity: 0;
  transition: opacity 1s;
}

.divStyles.visible {
  opacity: 1;
}

.Filtro h2 {
  font-size: 1em;
}

.Filtro h3 {
  font-size: 0.8em;
  margin-bottom: -0.1em;
}

/* Espaciado entre los elementos del menú */
.Filtro div {
  margin-bottom: 16px;
}

.OrderFilter,
.CreatedFilter,
.PlatformFilter,
.GenreFilter {
  display: none;
  margin-bottom: 1em;
  background-color: black;
  color: white;
  margin-left: 1em;
}

/* Muestra los formularios cuando el menú está desplegado */
.Filtro.active-forms .OrderFilter,
.Filtro.active-forms .CreatedFilter,
.Filtro.active-forms .PlatformFilter,
.Filtro.active-forms .GenreFilter {
  display: block;
}

.option {
  background-color: transparent;
  color: white;
  border: none;
  padding: 3px 5px;
  margin-top: 0.1em;
  cursor: pointer;
  text-align: left;
}

.option:hover {
  background-color: #555;
}
