.container {
        
        
        background-color: rgb(255, 255, 255);
        margin-top: 0em;
        z-index: 1000;

}

.container h2 {
        text-align: center;
        font-size: 2rem;
        margin-left: 1em;
        color:black
}

.boton {
        width: 9em;
        z-index: 1000;
        background-color: black;
        margin: -1em 0 0 10em;
        border: none;
        position: relative; /* para que funcione :before y :after */
        color: white;
}

.table {
        width: 100%;
        margin-top: 1em;
        z-index: 1000;
        border-collapse: collapse;
        text-align: center;
        font-size: 1rem;
        color: black;
}

/* Aplica bordes a las celdas de la tabla */
.table th, .table td {
    border: 2px solid black; /* Define el grosor y el color del borde */
    padding: 3px; /* Añade espaciado interno para mejor apariencia */
    word-wrap: break-word; /* Divide las palabras largas en líneas si es necesario */
    max-width: 50em;
  }



/* Opcional: Estilos para el encabezado de la tabla */
.table th {
  background-color: #f2f2f2; /* Color de fondo para el encabezado */
  font-weight: bold; /* Texto en negritas en el encabezado */
}

.boton {
    width: 10em;
    height: 3em;
    background-color: black;
    color: white;
    font-weight: 600;
}


.botonDelete {
    width: 7em;
    background-color:gray;
    color: black;
}

.botonDelete:hover,
.boton:hover {
    background-color: red;
    
}